/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #191b28, #2c0e1f); /* Deep midnight blue and rich burgundy red mixed together */
    color: #fff; /* White text */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(135deg, #191b28, #2c0e1f); /* Deep midnight blue and rich burgundy red mixed together */
    color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #00adee; /* Blue border bottom */
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* White text for navigation links */
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 50px 0;
}

.game {
    margin-bottom: 40px;
    background-color: rgba(27, 40, 56, 0.8); /* Semi-transparent dark blue background for game sections */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.game h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; /* White text for game titles */
}

.game-name {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ccc; /* Light gray text for game names */
}

.download-btn,
.info-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #402080; /* Darker shade of blue-purple */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-right: 10px;
    border: none; /* Remove button border */
}

.download-btn:hover,
.info-btn:hover {
    background-color: #4b2d91; /* Darker shade on hover */
}

.warning-sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('warning.png');
    background-size: cover;
    margin-right: 10px;
}

.warning-text {
    font-weight: bold;
        }
